In [72]:
import pandas as pd

In [73]:
data = pd.read_csv('sample_data.csv')
data.head(5)

,browser_family,device_family,site_country,site_id,ad_calls,served_ad_calls,impressions,clicks,revenue,date
0,CHROME,COMPUTER,US,1,167844,30763,208775,43604,4550.05,1/14/15
1,CHROME,COMPUTER,US,1,177509,31910,216065,43970,4494.44,1/13/15
2,CHROME,COMPUTER,US,1,171702,29294,200012,43292,4488.31,1/12/15
3,CHROME,COMPUTER,US,1,156701,28203,191438,40292,4216.71,1/15/15
4,CHROME,COMPUTER,US,1,136944,23680,161188,34044,3635.49,1/9/15

In [74]:
data.describe()

,site_id,ad_calls,served_ad_calls,impressions,clicks,revenue
count,24302.000000,24302.000000,24302.000000,24302.000000,24302.000000,24302.000000
mean,2.081475,415.423833,189.190848,1101.200395,97.469632,13.259840
std,1.456736,3821.685945,1415.472335,8695.117407,899.519820,105.823421
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,2.000000,5.000000,1.000000,4.000000,0.000000,0.000000
75%,3.000000,51.000000,13.000000,57.000000,5.000000,0.660000
max,4.000000,177509.000000,56798.000000,340065.000000,43970.000000,4550.050000

In [75]:
data.groupby(['site_id'])['revenue'].agg(['max'])\
    .reset_index(drop=True).sort('max')
    
# site 1 has the best revenue

/Applications/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

       max
3   679.22
0   996.19
2  1637.66
4  1782.91
1  4550.05

In [76]:
click_df = pd.concat([data.groupby(['site_id'])['clicks'].agg({'total_click': 'sum'})\
    .reset_index(drop=True), data.groupby(['site_id'])['impressions'].agg({'total_impression': 'sum'})\
    .reset_index(drop=True)], axis=1)

click_df['click_rate'] = click_df['total_click'] / click_df['total_impression']
click_df

# the clicks / impressions for site 1 is 0.150106

   total_click  total_impression  click_rate
0       380146           2532513    0.150106
1       664100           5627671    0.118006
2       447441           4825389    0.092726
3       362851           7528667    0.048196
4       514169           6247132    0.082305

In [77]:
customer_df = pd.concat([data.groupby(['site_id'])['clicks'].agg({'total_click': 'sum'})\
    .reset_index(drop=True), data.groupby(['site_id'])['revenue'].agg({'total_impression': 'sum'})\
    .reset_index(drop=True)], axis=1)

customer_df['rev_click_rate'] = customer_df['total_click'] / customer_df['total_impression']
customer_df

# revenue / clicks = 8.192655 for site 1

   total_click  total_impression  rev_click_rate
0       380146          53709.70        7.077790
1       664100          81060.41        8.192655
2       447441          59559.11        7.512553
3       362851          49861.95        7.277112
4       514169          78049.46        6.587733

In [78]:
data.groupby(['site_id'])['revenue'].agg({'total_revenue': 'sum'})

# total revenue for site 1 is 81060.41

         total_revenue
site_id
0             53709.70
1             81060.41
2             59559.11
3             49861.95
4             78049.46

In [84]:
data[data['site_id'] == 1].groupby('device_family')['device_family']\
    .agg('count')

device_family
COMPUTER        2069
DMR               12
GAME_CONSOLE      69
MOBILE          1071
TABLET          1121
UNKNOWN          145
Name: device_family, dtype: int64

In [79]:
data.groupby('site_id').agg('sum')

         ad_calls  served_ad_calls  impressions  clicks   revenue
site_id
0          672391           421369      2532513  380146  53709.70
1         4288102           931252      5627671  664100  81060.41
2         1416486           859264      4825389  447441  59559.11
3         2106378          1318667      7528667  362851  49861.95
4         1612273          1067164      6247132  514169  78049.46

In [ ]:
# from the table we can see that the best site 1 has the most add_calls,
# clicks, revenue. I believe the first improvement can make is add more ad_calls